DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_app_id
GUILD_ID=your_test_guild_id_or_empty_for_global

DATABASE_URL=postgresql://user:password@localhost:5432/xivapp

WEBHOOK_PORT=4567

API_SECRET=
WEB_APP_URL=http://localhost:3000

WHATS_HAPPENING_NA_CHANNEL_ID=
WHATS_HAPPENING_EU_CHANNEL_ID=
WHATS_HAPPENING_JP_CHANNEL_ID=
WHATS_HAPPENING_OCE_CHANNEL_ID=
